/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */

:root{
    --bg-white: #FFFFFF;
    --logo-height: 100px;
    --header-height: 100px;
    --menu-top-height: 70px;
    --aside-width: 250px;
    --foter-height: 50px;
    --shadow: 
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06),
}


*{
    box-sizing: border-box;
    font-family: 'Miriam Libre', sans-serif;
}

.app {
    margin: 0px;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr;
    grid-template-rows: 
        var(--header-height)
        1fr
        var(--foter-height);
    grid-template-areas: 
        "logo header"
        "menu content"
        "menu footer";
    height: 100vh;
    background-color: #F5F5F5;
}

aside.logo{
    grid-area: logo;
}

aside.menu-area {
    grid-area: menu;
}

aside.header {
    grid-area: header;
}

aside.contet {
    grid-area: content;
}

footer.footer{
    grid-area: footer;
}


/* MEDIA QUERIES */

@media(max-width: 768px) {
    .app{
        grid-template-rows: 
            var(--header-height)
            var(--menu-top-height)
            1fr 
            var(--foter-height);
            grid-template-columns: var(--aside-width) 1fr;
            grid-template-areas: 
            "logo header"
            "menu menu"
            "footer footer"
            ;
    }
}

@media(max-width: 576px){
    .app {
        grid-template-rows: 
            var(--logo-height)
            var(--menu-top-height)
            1fr
            var(--foter-height);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "logo"
        "menu"
        "content"
        "footer"
        ;
    }
}