aside.logo{
    background-color: var(--bg-white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

aside.logo img {
    padding: 0px 15px;
    width: 80%;
}

