.formControl {
  width: 15%;
  margin: 8rem 0 4rem 0 !important;
  padding-top: 10rem;
}

.formControl h1 {
  margin: 1rem 0 2rem 0;
  display: flex;
  justify-content: center;
}

.formControl h2 {
  margin-bottom: 1rem;
}

@media (max-width: 770px) {
  .formControl {
    width: 65%;
  }
  .formControl h1 {
    margin: 0rem 0 0.5rem 0;
  }
}
