.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(52, 201, 246);
}

.recovered {
  border-bottom: 10px solid rgb(53, 216, 21);
}

.deaths {
  border-bottom: 10px solid rgba(249, 80, 67);
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}

@media (max-width: 770px) {
  .container {
    width: 100%;
  }
}
